.cadastro-produto {
    border: 1px solid black;
    display: block;
    margin-top: 30px;
    width: 50%;
    .cadastro-produto-titulo {
        width: 100%;
        display: block;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
    }
    .form {
        grid-area: main;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: $font;
        align-items: center;
        justify-content: center;
        input[type="submit"] {
            margin-top: 10px;
            padding: 8px;
            background-color: royalblue;
            color: white;
            font-size: 15px;
            border-radius: 5%;
            border: 0;
        }
        label {
            margin-top: 10px;
        }
        input {
            margin-top: 10px;
            width: 50%;
            transition: width 1s;
            border: 1px solid blue;
        }
        input:focus {
            border: 1px solid green;
        }
        input:hover {
            border: 1px solid green;
        }
        input[type="submit"]:hover {
            filter: brightness(110%);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .popup {
        width: 350px;
        border-radius: 5px;
        overflow: hidden; // box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.14);
        >.popup-title {
            font-size: 14px;
            padding: 22px 25px;
            background-color: #000;
            color: white;
            position: relative;
            z-index: 9;
            text-transform: uppercase;
            .img-placeholder {
                position: absolute;
                right: 25px; //          @include align('vertical');
                width: initial;
                height: initial;
                opacity: .5;
            }
        }
        >.popup-body {
            max-height: 50vh;
            overflow: auto;
            position: relative;
            z-index: 9;
            >.body-row {
                padding: 20px 25px 10px;
                background-color: #eee; //  @include transition(background);
                &:nth-child(odd) {
                    //background-color: color('alabaster');
                }
                &:hover {
                    // background-color: darken(color('alabaster'), 3%);
                }
            }
        }
        >.popup-action {
            background-color: #fff;
            padding: 22px 25px;
            position: relative;
            z-index: 9;
        } // @include theme {
        //     > .popup-title {
        //       //  background-color: $color;
        //     }
        // }
    }
}

.container {
    padding: 0;
}

.main-title {
    padding: 10px;
    color: #2585d3
}

.grid-side {
    display: flex;
    width: 100%;
    flex-grow: 0;
    .size{
        height: 60vh;
        position: relative;
        flex-grow: 1;
        .button-tati{
            position: absolute;
            top: 0;
            right: 0;
            display: hidden;
        
        }
    }
    .sizeup-button {
        border: .5px solid rgba(0, 0, 0, 0.158);
        background-color: floralwhite;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-transform: uppercase;
        font-family: $font;
        font-size: 20px;
        padding: 5px;
        width: 100%;
        bottom: 0;
        text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        &.suma{
            display: none;
        }
    }

    .left-side {
        background-color: green;
        .sizeup-button {
            color: green;
        }
    }
    .mid-side {
        background-color: blue;
        .sizeup-button {
           color: blue;
        }
    }
    .right-side {
        background-color: gold;
        .sizeup-button {
            color: gold;
        }
    }
    .sizeup {
        transition: flex-grow 500ms cubic-bezier(0.160, 1.530, 0.590, 1.395);
        flex-grow: 6;
        //height: 100%;
        /* custom */
        &.button-tati{
            display: initial;
            font-size: 50px;
        }
    }
    .sizeup:focus {
        filter: brightness(110%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        flex-grow: 3;
        /* custom */
    }
    .sizeup-button:hover {
        filter: brightness(110%);
        
    }
}