.post-header {
    grid-area: main;
    ;
    .post-image {
        width: 100%;
        height: auto;
    }
}

.post-title {
    grid-area: header;
    background-color: rgb(73, 73, 168);
    .title {
        padding: 10px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        height: 100%;
        font-size: 20px;
        font-family: font;
    }
}

.post-content {
    grid-area: footer;
    .post-content-text {}
}