.post-header {
    grid-area: main;
  ;
    .post-image {
        width: 100%;
        height: auto;
    }   
  }
.post-title {
grid-area: header;
background-color: rgb(73, 73, 168);
    .title {
        padding: 10px;
        font-weight: bold;  
        color: white;
        text-transform: uppercase;  
        height: 100%;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.post-content {
grid-area: footer;
    .post-content-text{
        
    }
}
  
.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    &.is-half {
        width: 50% !important;
    }
}